[2020-05-02 15:17] ShisuiUzumaki opened #1 "First Issue by Salahuddin"
This is just a test issue by **Salahuddin** ID is **BSEF17M051**

[2020-05-02 18:28] usama4414 opened #2 "Issue_1"
Assignment_5, issue created..!!!
created by M.Usama

[2020-05-03 12:22] Ali-Bhatti opened #3 "Issue-1"
An Issue of assignment 5 created By Ali-Bhatti just for testing. Roll No. BSEF17M009

[2020-05-03 16:23] millivio opened #4 "Issue by Zulekha"
Why is everyone creating issues ?!

[2020-05-06 15:46] #1 closed

[2020-05-06 15:46] #2 closed

[2020-05-06 15:46] #3 closed

[2020-05-06 15:46] #4 closed

[2020-05-06 15:51] bilalshahzad139 opened #6 "Ideas for Issues Creation"
1. Any Dev Items: It is not required to complete full development of a page or feature in one issue/story. One issue can be broken in multiple issues so multiple people can work on it. For example for signup page development, Following can be issues

- Stored Proceure Development
- Server side development, Exposing an action in controller & handling work till DAL, executing relevant SP
- Signup pa

[2020-05-06 16:41] bilalshahzad139 opened #7 "update readme file with more info"

[2020-05-06 16:50] #7 closed

[2020-05-06 18:22] Ali-Bhatti opened #9 "Design Signup and Login Pages"
Signup page will contain following fields:
1. Username
2. Login
3. Password
4. Confirm Password
5. Profile Picture

Login Page will contain following fields:
1. Login
2. Password

Both UI and back-end will be designed.
Abdullah is making UI and I am working on back-end.
Muhammad Ahsan is handling profile picture.

[2020-05-07 06:26] Ayesha-nadeem opened #10 "search product"
**Search product by name**
1.search product by name
2.display error message if product does not exist
3.display product if exist
**Search product by category**
1.add category column in product table in database
2.provide option to search product by category
3.search product and display message

[2020-05-07 10:10] ShisuiUzumaki opened #11 "Login and Signup Test"
Perform login and signup testing using database

[2020-05-07 10:29] Ali-Bhatti commented on #11
So, you will perform testing of login and signup module?

[2020-05-07 10:29] ShisuiUzumaki opened #12 "Auto suggestion in search box"
This feature will automatically show products that are available in database corresponding to the string entered in search box using AJAX and user will be able to select product by using keyboard up and down arrow key. When user is over a certain item by pressing keyboard arrow keys its name will be shown in search box automatically

For this feature to be implemented completion of search is impor

[2020-05-07 10:32] ShisuiUzumaki commented on #11
Yes

[2020-05-07 10:34] ShisuiUzumaki commented on #11
yes, i will do that

[2020-05-07 12:53] ShisuiUzumaki opened #13 "Comment on Products"
**

- User will be able to give comment on product
- Comment will be saved in database
- All comments will be displayed with product

**
For this feature to be implemented products should be displayed to user

[2020-05-07 14:30] anzaladar opened #14 "wishlist"
**Add to wishlist**
Users can add the products in wishlist they wish to buy in future.
**Remove from wishlist**
Removing the products from wishlist they are no longer intrested to buy in future.
**Purchase**
option to purchase a product from wishlist or moving the product from wishlist to cart.

[2020-05-07 15:01] abdurrahman-asad commented on #9
Please split the issue as per directions by sir, as its a long task.

[2020-05-07 15:09] Ali-Bhatti commented on #9
You want to design UI?

[2020-05-07 15:20] Ali-Bhatti commented on #14
This Issue is not assigned to anyone.

[2020-05-07 15:38] Bilal3241 opened #15 "Cart"
A cart should be maintained for the selected items with total price of the products.

[2020-05-07 15:42] A-ASAD commented on #15
Please provide full description of what functionality the cart will exhibit e.g. removing added items, handling of duplicate items etc.

[2020-05-07 15:56] MughalUsama opened #16 "Snackbar"
A Snackbar/toast will be displayed after adding item in the cart, notifying user that the item has been added.
e.g
![Screenshot (22)](https://user-images.githubusercontent.com/34839748/81316607-374cb900-90a5-11ea-953b-a134b02811b3.png)

[2020-05-07 16:03] HadiaShafiq opened #17 "Trending/Latest products"
Show the most bought and latest products

[2020-05-07 16:06] HadiaShafiq opened #18 "Low stock notifications"
Highlights the products which are low in stock or gives notification if a specific product added in wishlist is low in stock

[2020-05-07 16:10] bilalshahzad139 opened #19 "Tools for help"
Canva

[2020-05-07 16:13] abdurrahman-asad commented on #17
Please provide description about how and where those products will be displayed to user. @bilalshahzad139

[2020-05-07 16:13] MughalUsama opened #20 "Product Carousel"
Slideshow/Carousel of product images to be added with the products.

[2020-05-07 16:28] HadiaShafiq opened #21 "Displaying FAQ on user questions"
Shows a list of faqs related to user questions keywords

[2020-05-07 16:37] saimaYar opened #22 "suggestive cart"
suggestive cart show the suggestion of products for convience of client.a table/page show list of products to be choose in cart.

[2020-05-07 16:44] MahamMubashir opened #23 "Admin Side Development"
- Admin Page
-Add Items
-Update Items

[2020-05-07 16:46] abdurrahman-asad commented on #22
Please provide briefing about which products will be displayed is this cart and on what basis (criteria for suggestion) @bilalshahzad139

[2020-05-07 17:16] A-ASAD opened #24 "Product Search Testing"
Will perform manual testing of product search box.
Includes checking for:
Correct results
Right suggestions
Input Validations
It will start after completion of #12

[2020-05-07 17:44] Usman-Alii opened #25 "Client side validation of Signup and logIn"
Input Validation

[2020-05-07 17:52] abdurrahman-asad commented on #25
This issue is already created. Please refer to #9 .
Please talk to them to include you as an assignee if you want to work on this.
@bilalshahzad139

[2020-05-07 17:54] MughalUsama commented on #25
@Usman-Alii  validation or testing?
Validation is done in #9 and testing in #11

[2020-05-07 17:55] Usman-Alii opened #26 "Testing of Client side validation of logIn and SignUp"

[2020-05-07 17:57] #25 closed

[2020-05-07 17:57] abdurrahman-asad commented on #25
I've closed this issue as its duplicate of #9

[2020-05-07 17:58] abdurrahman-asad commented on #26
Please refer to #11

[2020-05-07 17:58] Usman-Alii opened #27 "comment LogIn"

[2020-05-07 17:59] abdurrahman-asad commented on #26
I'm closing this as its duplicate of #11

[2020-05-07 17:59] #26 closed

[2020-05-07 18:03] A-ASAD commented on #27
You only want to comment validation part? or whole signup and login code?

[2020-05-07 18:20] Usman-Alii commented on #9
Does Back-end include Input Validation of SignUp and LogIn Page ?

[2020-05-07 18:25] abdullah-art commented on #9
Both on client side and server side there will be validation checks on input to make it more secure!

[2020-05-07 18:27] MuhammadZain795 opened #28 "Product filtering or Sorting"
Products can be filtered on different choices like clothing, grocery etc. For this purpose we can provide different options through drop-down menu for the customer.

[2020-05-07 18:30] Ali-Bhatti commented on #25
Mark it as duplicate

[2020-05-07 18:33] #27 closed

[2020-05-07 18:34] A-ASAD commented on #28
Please provide some description about how sorting/filtering will work?
 @bilalshahzad139

[2020-05-07 20:30] hamza-hameed opened #29 "Buyer Protection ( shop with confidence )"
**There are Two things in it.**

- Firstly to design a UI ( a page) that will selected by the option **"Buyer Protection"** that will provides in the menu options. This page contains the detailed information how you can return your product in case if the item you received is not as described, or if your item is not delivered within the Buyer Protection period.

- The Second thing is to provide a *

[2020-05-07 23:26] A-ASAD opened #30 "Designing UI for User View"
Designing Complete Basic UI for User side view, includes following:
User's main view
Designing Product Display
Designing Comment Area

[2020-05-08 05:11] abdullahaleem355 opened #31 "Price Filtering"
User will see price range option on product home screen. By default, he/she will see products range from minimum to maximum price but user can give range to filter out the products.
-> Will give price range option to user.
-> Filter the products accordingly and refresh the product list.

[2020-05-08 07:09] nazeer013 opened #32 "issue-new"
my first issue

[2020-05-08 07:13] #32 closed

[2020-05-08 07:23] ShisuiUzumaki opened #33 "Designing and styling of Comment System"
CSS styling and design of Comment system will be designed

[2020-05-08 07:25] nazeer013 opened #34 "Login X Signup Page (user)"
this project requires a Login and Signup page which will be provided soon.

[2020-05-08 07:26] Nadia-Ahsan opened #35 "Client Side Validation(For Login)"
Task :
        Before submitting the form for login , there'll be client side validation on all fields (i.e  check that
        Login and  Password fields are not empty).

[2020-05-08 07:40] Nadia-Ahsan commented on #9
How you are making decision that new registered user is admin or not?

[2020-05-08 07:59] Ali-Bhatti commented on #9
One admin user is already made. So every new user will be a simple user not admin.

[2020-05-08 08:02] Ali-Bhatti commented on #35
We will do this in our issue.

[2020-05-08 08:08] Nadia-Ahsan opened #36 "Likes/Dislikes on Products"
1- User will be able to give his/her response that either he/she like or dislike  the  product.
2-It will be saved in database that which user likes/dislike which product.
3-When the products will  display, their number of likes and dislikes will also be shown.
 (This feature can be used to find rating of products.)

[2020-05-08 08:17] #35 closed

[2020-05-08 08:57] abdurrahman-asad commented on #34
Please refer to #9 . This is already done.

[2020-05-08 08:57] Nadia-Ahsan opened #37 "Products Warranty Card"
Task-1:
  When the products will be shown,
     •	There will be button ‘Show Warranty Card’ with each product.
    •	When user will click on it, he/she will be able to see a warranty card including:
           1.  Warranty Period
           2.  Serial Number
          3.  Date of Purchase
          4.  Signature/Customer Name
Task-2:
          When customer will buy a product , the reference of th

[2020-05-08 08:59] #34 closed

[2020-05-08 09:01] abdurrahman-asad commented on #33
Please refer to #30 . It includes designing UI for basic comment system.

[2020-05-08 09:03] abdurrahman-asad commented on #12
Is it done? @ShisuiUzumaki

[2020-05-08 09:15] Nadia-Ahsan opened #38 "Availability of Products"
Task :
             With each product , it will be shown that how many such products exists  in  stock.
(This feature can be helpful if a customer want to buy bundle of same kind products, then he/she could know in advance that such number of products are available or not  which he/she want to purchase).

[2020-05-08 09:24] nazeer013 commented on #34
can they split that issue in two parts?
i.e for User and for Server. @A-ASAD

[2020-05-08 09:36] ShisuiUzumaki commented on #12
not yet

[2020-05-08 09:37] Nadia-Ahsan opened #39 "Selection of one/many same kind Products"
When customer will select a product to purchase,
1- An option will be given  that either he/she wants one product or many same kind products .
2- In case if user wants multiple same kind products, an input number will be taken from user which
    will show that how many products he/she wants to purchase, according to which cart will be
     updated.
3- In case  If user select a number and that num

[2020-05-08 09:39] Nadia-Ahsan commented on #39
This feature can be helpful if user want to buy bundle of same kind products, then he/she can select it only once, instead of selecting that same product again and again for adding it to cart.

[2020-05-08 09:42] abdurrahman-asad commented on #34
Actually they are almost close to completion. I myself wanted to do this task.

[2020-05-08 09:44] abdurrahman-asad commented on #34
You can further talk to them on this, if they let you work with them as an assignee.

[2020-05-08 09:47] awaisjillani2 opened #40 "User review about the product."
1- User will be able to review the product that he/she has recently purchased.
2- User will be able to see the review by other users against that product he/she has bought or willing to buy.
3-User will be able to review the seller of that product.
4- User will also be able to see the seller's overall ratings .

[2020-05-08 09:50] MughalUsama commented on #13
Comments==reviews?

[2020-05-08 09:50] MughalUsama commented on #40
Refer to #13

[2020-05-08 09:52] abdurrahman-asad commented on #40
#13 are comments. Review can be something like starts/rating. @awaisjillani2 please justify.

[2020-05-08 09:53] MughalUsama opened #41 "Order verification Email"
An email to be sent, when an order is placed and the user checkouts.

[2020-05-08 09:54] A-ASAD commented on #41
Please mention dependencies.

[2020-05-08 09:56] MughalUsama commented on #28
Will it filter products with multiple filters or only single filter at a time? @MuhammadZain795

[2020-05-08 09:57] MughalUsama commented on #15
@Bilal3241  will cart data be stored for next login?

[2020-05-08 10:10] awaisjillani2 commented on #13
Salahudin! please work on your single issue that fits you the best according to you but please DO NOT create issues as much as you want. I have decided t work on this specific task and i have created an issue on that.
If you want to continue working on this issue by yourself as your single task then please let me know otherwise please close this issue i want to work on this task.
Thanks in Advance

[2020-05-08 10:24] Usman-Alii opened #42 "Store mulitple images against a product"
Task: store multiple images against a product in Database
Adding picture columns in db

[2020-05-08 10:33] faaizsultan opened #43 "Order Status"
Will Provided the Following Things.
Products being dispatched or not.
Carrier Service Name.
Order Number.
Remaining Days in Delivery

[2020-05-08 10:49] abdurrahman-asad commented on #33
Please close this or describe something that will be different? refer #30

[2020-05-08 10:54] ShisuiUzumaki opened #44 "User Email Verification"
After sign-up user will be verified using his/her email address.

- A code will be sent to user.
- User will enter the code in the box shown on the page
- Code will be verified and user will be authenticated

Enhanced version would be to send a link for confirmation

[2020-05-08 10:56] abdurrahman-asad commented on #44
Please mention dependencies due to which it is on-hold. @ShisuiUzumaki

[2020-05-08 11:31] faaizsultan opened #45 "Forgot Password Option"
If User Forgets his/her password.an email with verification code will be sent and can reset his password.
Dependent on #9

[2020-05-08 11:52] Nadia-Ahsan opened #46 "Description of Product"
1- In front of each product, description of that product will be shown if admin added it.
2- If description of that product has not been added then 'no description' text will be shown.
     i.e New User who is not already familiar with the product will come to know that Product
      is for  which purpose )

Now the question arises that from where this information will  come.
1- When admin will ad

[2020-05-08 12:04] Nadia-Ahsan opened #47 "Update Profile"
1-  User will find an option to update his/her profile (i.e User can change his/her profile picture/User
      Name etc).
     It will start after completion of #9

[2020-05-08 12:11] MuhammadZain795 commented on #28
The main idea is of filtering the products on single choice but we can do with multiple choices also... @MughalUsama

[2020-05-08 12:25] Nadia-Ahsan opened #48 "Monthly Report of Products"
On Admin Home Screen, an option will be given to generate a report of current month sold products.
 1- A report will be shown which will include:
     1.1- How many products sold in current month.
     1.2- Total Price of Sold Products.
It will start after completion of #9

[2020-05-08 17:58] ShisuiUzumaki opened #50 "Rating system"
User will be able to rate the product

[2020-05-08 18:04] Ali-Bhatti opened #51 ""Comment Adding module" testing"
Perform comment adding module testing using database

- Will perform manual testing by running
- Will also perform automated testing if AJAX based using postman.

It will be done after completion of task #13

[2020-05-08 18:10] usama4414 commented on #50
On the home screen, users will see a rating panel for each product?

[2020-05-08 18:19] salayha opened #52 "UI for feedback of website"
I will be creating a page that will open once a user signs out of his/her account in order to collect feedback on our website.
Some basic questioning will include:
User's Experience on the website (Satisfactory/Unsatisfactory)
How he got to know about our website (Family/Friends/Ads)
What is the one thing that we can do better that would help us to better serve him? (Describe)
Is he willing to ent

[2020-05-08 18:20] usama4414 commented on #52
So you're only working on the UI?

[2020-05-08 18:21] salayha commented on #52
Yes.

[2020-05-08 18:26] usama4414 opened #53 "Testing of Feedback of website"
i'll be testing and validating  the feedback module of the website.
1: Testing will be done manually.
2: Client Side validation.
3: Redirecting to Login Screen on Skip/Completion .

i'll starting working after the completion on issue  #52

[2020-05-08 18:37] usama4414 commented on #13
@awaisjillani2  @ShisuiUzumaki  i'm available for the database work, we can always split a task.

[2020-05-08 20:04] abdurrahman-asad commented on #50
This issue is already created. Please refer to #40 . @bilalshahzad139

[2020-05-08 20:04] A-ASAD commented on #50
Please close this.

[2020-05-08 20:09] Saniah22 opened #54 "To place order"
After adding to cart #15 and cart list is generated to customer, customer places the order,

[2020-05-08 20:11] Saniah22 opened #55 "to generate invoice"
after order is placed #54  , invoice is generated and stored in invoice database

[2020-05-08 20:17] abdurrahman-asad commented on #54
Please explain the difference between cart and cart list?

[2020-05-08 20:20] Saniah22 commented on #54
they are same, you can say cart list has info of different products you wish to buy

[2020-05-08 20:26] abdurrahman-asad commented on #54
Please don't create duplicate issues. Cart will show items that are added to it. Is that right @Bilal3241

[2020-05-08 20:28] #33 closed

[2020-05-08 20:29] awaisjillani2 commented on #48
you've created this issue and have not assigned to anybody,so considering the requirements of this issue i find myself fit for this task so i assigned this task to myself.
If you don't have any issue then please let me know ASAP so i can work on that.
Thanks in Advance :)

[2020-05-08 20:34] Saniah22 commented on #54
i said "after" #15  and after cart list is generated ,

[2020-05-08 20:36] Saniah22 commented on #54
place order will input the info like address, phone number, quantity of product and payment method,like cash on delivery or through credit card

[2020-05-08 20:38] abdurrahman-asad commented on #54
That's the point. Thanks for description. 👍

[2020-05-08 20:53] Saniah22 opened #57 "Search item for admin side"
in #23  we can add the feature of search item (done by admin) and then he can go ahead with deletion of it or adding its features or whatsoever.

[2020-05-08 22:01] usama4414 commented on #40
@awaisjillani2  i'm willing for handling database work for your feature.You can assign it to me.

[2020-05-08 22:16] ShisuiUzumaki opened #58 "User panel"
It will show user details and optionally will allow him/her to edit them
It includes changing email address, password, name, phone number, some settings as well as an extra feature providing user with his/her order history

[2020-05-08 23:47] abdurrahman-asad commented on #50
Please close this issue or describe something different than #40 . @ShisuiUzumaki

[2020-05-08 23:52] abdurrahman-asad commented on #58
@ShisuiUzumaki please refer to #47 . Some functionalities are being duplicated. Please update your description.

[2020-05-09 08:11] ShisuiUzumaki commented on #50
Product is provided with rating. When user enters his/her rating then overall rating will be updated

[2020-05-09 08:12] ShisuiUzumaki commented on #33
This was added before your was added

[2020-05-09 08:22] ShisuiUzumaki commented on #13
Actually rating system is different from review system rating system will
be for calculated using all users cumulative rating so you don't need to
worry

On Fri, May 8, 2020 at 11:37 PM Muhammad Usama <notifications@github.com>
wrote:

[2020-05-09 08:23] ShisuiUzumaki commented on #13
I am working on comment system.

[2020-05-09 08:25] ShisuiUzumaki commented on #13
ok i will take you on this offer

[2020-05-09 08:35] faaizsultan opened #59 "Generate Invoice"
I will be testing functionality of generating invoice.
#55

[2020-05-09 08:39] nazeer013 opened #60 "Search item from Admin"
testing of issue #57

[2020-05-09 08:50] nazeer013 commented on #9
is there any restriction on ProfilePicture size while uploading?

[2020-05-09 09:07] nazeer013 commented on #37
Suggestion :
Warranty Card  Serial no. should be stored in Database before selling that item and after selling warranty Time will start.

[2020-05-09 09:20] #50 closed

[2020-05-09 09:46] Ali-Bhatti commented on #9
I will tell you later

[2020-05-09 10:27] nazeer013 opened #62 "Shopping History"
Each customer will be given a Different serial No. and his/her shopping history will be stored in DataBase.

[2020-05-09 10:46] nazeer013 opened #63 "Ads Portion"
there will be a specific portion on User Interface for Paid Commercial Ads.

[2020-05-09 11:10] abdurrahman-asad commented on #50
This is all covered in #40 . Thanks for closing.

[2020-05-09 11:12] abdurrahman-asad commented on #62
Please refer to #55 . Is anything different? @nazeer013

[2020-05-09 11:40] Nadia-Ahsan commented on #39
In this issue, we are just giving option to user to select bundle of same kind products once.
The logic to add it to cart  will not be in this issue.

[2020-05-09 11:49] Ayesha-nadeem opened #64 "update views and controllers for category table"
1.update views for category of products
2.update controllers for category table

[2020-05-09 11:54] Alishba-Saeed opened #65 "Checkout Notification"
1. The user will get a notification in the form of the message after checkout with the total bill and some greetings written in it.
2. I will be using Twilio for this purpose.
It will be done after the completion of #15.

[2020-05-09 11:58] Nadia-Ahsan commented on #58
@ShisuiUzumaki     I am doing many of these functionalities in #47. Kindly update your issue about which other additional  functionalities you will provide?

[2020-05-09 11:59] abdurrahman-asad commented on #65
I think you should do this after #55. Please have a look at #55 .

[2020-05-09 12:00] Nadia-Ahsan commented on #58
@ShisuiUzumaki  I will do many of these functionalities in #47. Kindly update your issue about which other additional functionalities you will provide?

[2020-05-09 12:08] Alishba-Saeed commented on #65
@A-ASAD Updated.

[2020-05-09 12:33] #58 closed

[2020-05-09 12:35] ShisuiUzumaki opened #66 "User Buying history"
user buying history will be maintained.
There will be a button in user panel to show product history

[2020-05-09 12:38] Nadia-Ahsan commented on #48
I'll work on this issue.I assigned to myself.

On Sat, May 9, 2020 at 1:29 AM Awais Jillani <notifications@github.com>
wrote:

[2020-05-09 12:40] awaisjillani2 commented on #48
Very nice  :)

[2020-05-09 12:42] Saniah22 opened #67 "QA for Search Product(User side)"
In Sha Allah , I will do QA work of #10

[2020-05-09 12:48] abdurrahman-asad commented on #67
Please refer to #24 . It includes all the testing.

[2020-05-09 12:49] Saniah22 commented on #67
you are doing for #12

[2020-05-09 12:51] abdurrahman-asad commented on #66
Please refer to #55 . It includes saving invoice to DB, in short buying history. Please update your description. And does button shows product history or user buying history.? @ShisuiUzumaki

[2020-05-09 12:56] usmanmurad opened #68 "Edit User's detail & previlege"
Admin can edit details of users & can create another person admin. Client side & Server side development.

[2020-05-09 12:56] Saniah22 commented on #67
@A-ASAD  ?

[2020-05-09 13:01] usmanmurad opened #69 "Edit products & product details"
Admin can edit/modify product details like price, isActive .

[2020-05-09 13:03] abdurrahman-asad commented on #67
#12 is a follow up of #10 . So, #10 is included in #12.

[2020-05-09 13:12] Saniah22 commented on #62
#55 and this issue are same

[2020-05-09 13:14] abdurrahman-asad commented on #62
@nazeer013 please justify or close this.

[2020-05-09 13:16] abdurrahman-asad commented on #67
@Saniah22 ? I'm doing all testing in #24 .

[2020-05-09 13:30] Saniah22 commented on #63
I think this is an advanced feature , requiring Ads from different companies

[2020-05-09 13:31] Saniah22 commented on #63
kindly focus on basic features first, what do you say @A-ASAD ?

[2020-05-09 13:34] usmanmurad opened #70 "Client side Validation of userController modules"
Client side validation of all userControllers functions & related BAL/DAL functions

[2020-05-09 13:38] abdurrahman-asad commented on #63
Can't say anything specific about it. @bilalshahzad139 sir please elaborate can this be a potential feature?

[2020-05-09 13:39] usmanmurad opened #71 "Validation of homeController Modules"
Client side validation of homeController funtions & related BAL/DAL functions

[2020-05-09 13:41] usmanmurad opened #72 "Validation of ProductController Modules"
Testing of productController functions & related BAL/DAL functions

[2020-05-09 13:42] abdurrahman-asad commented on #71
Please elaborate specifically what you want to do? @usmanmurad  @bilalshahzad139

[2020-05-09 13:44] abdurrahman-asad commented on #72
Please provide description of modules for which you want to perform testing? @usmanmurad
@bilalshahzad139

[2020-05-09 13:46] Saniah22 commented on #67
yeah yeah , you can do, no problem.

[2020-05-09 14:10] ShisuiUzumaki commented on #66
is it fine now

[2020-05-09 14:40] abdurrahman-asad commented on #66
Yeah. Thanks 👍

[2020-05-09 14:41] abdurrahman-asad commented on #67
Thanks 👍

[2020-05-09 14:44] abdurrahman-asad commented on #70
Please provide some more description. Your intent is altogether ambiguous. @usmanmurad
@bilalshahzad139

[2020-05-09 14:48] Saniah22 commented on #57
@MahamMubashir  you can add this feature , so your module will be completed. A suggestion.

[2020-05-09 14:50] Saniah22 commented on #23
you can add the feature of search item, first , so your module will be completed. A suggestion.

[2020-05-09 14:52] Saniah22 commented on #23
after the item is searched then you can modify it, change the category, delete it, etc

[2020-05-09 15:00] Saniah22 commented on #23
kindly share your viewpoint, so i can close issue #57 .

[2020-05-09 15:07] Ali-Bhatti commented on #70
Yes explain it further. please

[2020-05-09 15:26] Saniah22 opened #73 "specification diagrams"
I'm first doing documentation , that first contains very core features you can say,
![Untitled Diagram (2) (1)-Page-6](https://user-images.githubusercontent.com/60928097/81477475-62641380-9231-11ea-97fc-4767f7c1a8a8.png)

[2020-05-09 15:41] #62 closed

[2020-05-09 15:45] faaizsultan commented on #71
Do you want to perform testing of all controllers in the project?

[2020-05-09 15:46] faaizsultan commented on #69
What do you mean by isActive?Can you explain please?

[2020-05-09 15:49] Saniah22 commented on #57
as discussed with @MahamMubashir ,  anyother person who is willing can take this task,

[2020-05-09 15:50] bilalshahzad139 commented on #54
@Saniah22 Can you please edit description of issue based on above discussion.
All, Keep the good spirit up.

[2020-05-09 15:55] muhammadbilalali1799 opened #74 "DB Logic for User Feedback of website"
it is followup of number #52,
User Feedback will be stored in Feedback table in DB

FeedBack table will be added in DB
ServerSide validation of respective fields (According to UI made in #52)

[2020-05-09 15:57] usmanmurad commented on #70
@A-ASAD  @Ali-Bhatti
Its pretty simple to understand , my intent is to pass hardcoded data to the functions in controller,DAL & check the return values at different inputs to see if checks are present for all kind of inputs.So application won't crash.
Perhaps if you are still confused you can call me.

[2020-05-09 15:58] nazeer013 commented on #63
@Saniah22 i think this is a basic feature and you can see this feature in every small/large website.

[2020-05-09 15:59] usmanmurad commented on #71
@A-ASAD  Check my answer to your question on issue #70

[2020-05-09 15:59] nazeer013 commented on #34
you should have said that before closing this issue.

[2020-05-09 16:01] usmanmurad commented on #72
@A-ASAD  check my answer to your question on issue #70

[2020-05-09 16:02] nazeer013 commented on #73
@bilalshahzad139 kindly Guide us is there any need of UseCase Diagram in this Project?

[2020-05-09 16:05] muhammad-bilal-ali commented on #52
@salayha
I am working on issue  #74 (dataBase of Feedback),
Let me know when UI completed.

[2020-05-09 16:05] nazeer013 commented on #73
and adding to this can we also make Entity Relationship Diagram , Data Flow Diagram and State Diagram?

[2020-05-09 16:08] usmanmurad commented on #69
@faaizsultan   isActive is a boolean property in Entities/ProductDTO , it shows availability of that specific product.

[2020-05-09 16:21] Saniah22 commented on #73
I asked sir for requirement specifications and I'm making DFDs, STD and class diagram,

[2020-05-09 16:24] abdurrahman-asad commented on #34
Sorry for that. But please go through opened issues before creating new ones. Thanks

[2020-05-09 16:25] nazeer013 opened #75 "Auto Suggestion in Search Box"
validating #12 if it works correctly.

[2020-05-09 16:27] Saniah22 commented on #73
I've already asked sir @nazeer013

[2020-05-09 16:29] nazeer013 opened #76 "Auto Suggestion in search Box"
validating #12  if it works correctly.

[2020-05-09 16:29] abdurrahman-asad commented on #70
Actually the thing is that, controllers are on server side. For client side, many features are already being tested or on-hold. That's why I asked you to elaborate description. Further more, as per directions by sir, please be specific in your issue and create smaller issues.  Thanks
Same goes for #72, #71 . Please redefine description.

[2020-05-09 16:29] #76 closed

[2020-05-09 16:33] abdurrahman-asad commented on #75
Please refer to #24 .

[2020-05-09 16:33] waseem015 opened #77 "Review whole project"
Reviewing the whole project and validating if it is working correctly and fulfilling all conditions told in documentation.

[2020-05-09 16:33] Saniah22 commented on #54
ok sir!

[2020-05-09 16:35] nazeer013 opened #78 "Like/Dislikes on Product"
validating if #36 is working correctly.

[2020-05-09 16:36] waseem015 commented on #68
Can u please briefly explain Admin's rights ?

[2020-05-09 16:41] abdurrahman-asad commented on #75
Please close this or describe something different. Thanks @nazeer013

[2020-05-09 16:43] usmanmurad commented on #70
Sorry Client was a mistake. I meant Server from start. Thanks

[2020-05-09 16:50] usmanmurad commented on #68
@waseem015  Please check Entities/UserDTO's isAdmin property. I meant that Admin should be able to create someone else admin by setting that property true for that User.

[2020-05-09 16:51] Saniah22 opened #79 "help regarding documentation"
should I create new issues for each requirement specification , or upload them all in 1 issue?
@bilalshahzad139

[2020-05-09 17:15] usmanmurad commented on #69
Already done in issue #23

[2020-05-09 17:15] #69 closed

[2020-05-09 17:17] abdurrahman-asad commented on #77
It would be appreciable if you split it into smaller issues and start working if some module is complete for testing/reviewing. Many modules are already being tested/reviewed or on-hold. Thanks. @waseem015

[2020-05-09 18:57] HananKibria opened #80 "Manual Testing the whole Project"
check the database. is interface working

[2020-05-09 19:11] salayha commented on #52
@muhammadbilalali1799  Okay.

[2020-05-09 19:49] nazeer013 commented on #75
@A-ASAD
this issue is for checking the efficiency of  #12 and it includes less manual testing i guess. just making sure if there is better way/logic to do that

[2020-05-09 19:52] nazeer013 commented on #77
@A-ASAD
this doesn't include just testing it will make a documented review on a working of whole code.

[2020-05-09 19:53] nazeer013 commented on #77
and moreover he is not doing it alone. if you want to be an assignee you're welcome😊

[2020-05-09 19:54] nazeer013 commented on #73
and you're making all kind of diagrams in it?

[2020-05-09 20:39] abdullah-art opened #82 "Language Settings"
User will be able to select the language for **browsing** and **shopping** as it is one of the key things that enhances usability and creates a simple user experience for our website visitors and customers.

[2020-05-09 20:54] abdullah-art opened #83 "Currency Selector"
If we want our customers to choose their local currency, then we can provide them a checkbox to switch their currency that will opens our store in a specific currency and by default it will be Pakistani rupees.This feature will make our system user friendly.

[2020-05-09 20:59] nazeer013 commented on #83
Does this change Bill only in provided currency or whole PriceList will b changed into it?

[2020-05-09 21:01] abdullah-art commented on #83
The whole price list will be changed for that user.

[2020-05-10 09:21] ShisuiUzumaki commented on #75
this topic has already been dealt with #12

[2020-05-10 09:24] #75 closed

[2020-05-10 12:08] MughalUsama commented on #83
@abdullah-art  In which currency will price be stored in DB for orders history? As currency rates keep on changing? Which currency will be used as a standard?

[2020-05-10 12:28] abdurrahman-asad commented on #77
I did not ask to be an assignee. I just asked to create small and specific issues. If @waseem015 wants more assignee, he can split the issue as per directions by sir. Thanks

[2020-05-10 12:33] abdurrahman-asad commented on #82
Will it change language of whole project? @abdullah-art

[2020-05-10 13:08] abdurrahman-asad commented on #31
Please close this if complete. You can create other issues for refinement etc.

[2020-05-10 13:24] A-ASAD opened #84 "Refining User Side UI"
This will include further refining of User side view, moreover merging new elements to design.

[2020-05-10 13:33] abdullah-art commented on #82
yes!

[2020-05-10 13:40] abdullah-art commented on #83
I think there there will be an algorithm/program for currency conversion and and converted prices will be stored in database , we will not be dependent on currency in this case and by techniques like ajax long polling etc , we can update our database.

[2020-05-10 14:25] abdurrahman-asad commented on #82
Can you provide some description how will you translate every written word in the website to other language? @abdullah-art
It will be highly appreciable.

[2020-05-10 14:49] MughalUsama commented on #83
@abdullah-art  while retrieving prices from Database which currency will be considered?

[2020-05-10 14:56] abdurrahman-asad commented on #83
Being Pakistani, PKR will be considered base currency. Is it right @abdullah-art

[2020-05-10 14:56] abdullah-art commented on #82
We can use tool such as [WEGLOT](https://weglot.com/) to make our website multilingual and for more information you can read this [Article](https://blog.weglot.com/9-tips-for-designing-a-multi-language-website/).

[2020-05-10 14:57] abdurrahman-asad commented on #82
Thanks a lot. 💯

[2020-05-10 14:58] abdullah-art commented on #83
yes i have already mentioned it in the issue's description.

[2020-05-10 16:00] Ali-Bhatti commented on #9
I will be maximum 4MB that browser supports.

[2020-05-10 16:35] muhammad-bilal-ali commented on #79
you should create as many as you can (detailed) it must be helpful for others.

[2020-05-10 16:54] zainjr619 opened #86 "Designing UI for "Sale Page""
This page contain items which are on SALE.
Admin will have rights to put items on sale.

[2020-05-10 16:55] A-ASAD opened #87 "Back end for "Sale Page""
Back end for sale page will be created. Includes following:
Business Logic
Updating Database i.e adding isOnSale column to product table.
Server side validations

[2020-05-10 16:58] A-ASAD opened #88 ""Sale Page" Testing"
Includes testing of sale page:
Client side Testing
Server side Testing

[2020-05-10 17:03] A-ASAD opened #89 ""Put Item on Sale" Option on Admin Side"
There will be an option on admin side to put a specific item on sale.
UI and Back End logic will be designed in this.

[2020-05-10 17:43] Hsairashakeel opened #90 "Multiple payment options"
Multiple payment options (Credit card, PayPal, PO, Terms, etc.)

[2020-05-10 17:49] zainjr619 commented on #90
Will there be any back end logic supporting these options or they are just dummy options on UI?
@Hsairashakeel

[2020-05-10 18:07] Saniah22 commented on #73
No, not all kind of diagrams, but only that are made in SRS

[2020-05-10 18:16] Saniah22 opened #91 "Modeling - activity oriented"
Data Flow Diagram:

![Untitled Diagram (2) (1)-Page-1](https://user-images.githubusercontent.com/60928097/81506976-6f593380-9313-11ea-857e-23b94b2791b8.png)

![Untitled Diagram (2) (1)-Page-2](https://user-images.githubusercontent.com/60928097/81506980-74b67e00-9313-11ea-9cf4-b14f7c94d269.png)

Level 2 for second process:

![Untitled Diagram (2) (1)-Page-3](https://user-images.githubusercontent.co

[2020-05-11 01:00] Ali-Bhatti commented on #91
Count of Responses/lines in DFD level 0 coming towards user from system is 3 while Count of Responses/lines in DFD level 1 coming towards user from system is 5. Count of lines/Reposes Should be same? And one thing more "item displayed" response is not mentioned in level 1 DFD.

[2020-05-11 01:33] Ali-Bhatti opened #92 "STD of given system"
**STD(State Transition Diagram)** of system according to DFD made in #91
![STD ](https://user-images.githubusercontent.com/60929796/81554804-db35ad80-93a0-11ea-89bd-0e742c43fd6c.png)

And **Control Specification**  document is also attached:
[Control Specification.pdf](https://github.com/bilalshahzad139/EADProject/files/4609220/Control.Specification.pdf)

[2020-05-11 02:40] salayha commented on #31
#28 is filtering on the basis of type of product. So will these two be merged as in double filtering?

[2020-05-11 02:47] salayha commented on #10
Isn't categorizing the product same as in issue #28 Product filtering according to type?

[2020-05-11 03:20] Saniah22 commented on #91
I forgot the balancing, ThankYou.

[2020-05-11 07:52] Saniah22 opened #93 "Modeling- structure oriented"
Class Diagram:

![SREdiagrams-Page-5](https://user-images.githubusercontent.com/60928097/81537080-14145900-9386-11ea-8e36-579ac31d7474.png)

[2020-05-11 07:54] Saniah22 commented on #91
updated.

[2020-05-11 08:07] Saniah22 commented on #92
I didn't get it, can you state it again?
what's not going to be designed in #91 ?

[2020-05-11 08:34] Ali-Bhatti commented on #92
I mean if you are not designing the STD of system then I will Design it.

[2020-05-11 08:41] Saniah22 commented on #92
Yeah, No problem.  You can.

[2020-05-11 09:15] Ali-Bhatti commented on #12
#9 is completed.  Waiting for acceptance of Pull request

[2020-05-11 09:15] Ali-Bhatti commented on #11
#9 is completed. Waiting for acceptance of Pull request

[2020-05-11 11:30] #30 closed

[2020-05-11 12:36] #9 closed

[2020-05-11 13:06] Ali-Bhatti commented on #11
Now #9 has accepted..

[2020-05-11 14:10] Ali-Bhatti commented on #84
Please make a nave bar too.@A-ASAD

[2020-05-11 18:24] #84 closed

[2020-05-12 06:23] ShisuiUzumaki commented on #1
Sir I have fixed it It was a mistake

On Wed, May 6, 2020 at 8:46 PM Bilal Shahzad <notifications@github.com>
wrote:

[2020-05-12 09:06] Ayesha-nadeem opened #97 "search product by name"
**Search product by name**
1.search product by name
2.display error message if the product does not exist
3.display product if exist

[2020-05-12 11:38] ShisuiUzumaki opened #98 "Code clean up and Database management"
As people are making changes in code and database, its getting harder to deal with it because its creating errors so we will do our best to change code according to database changes and vice wears
Sir this more of group work anything that will be commuted is going to be a group work through video call @bilalshahzad139

[2020-05-12 13:01] anzaladar opened #99 "Remove Items From Wishlist"
**Remove from wishlist**
Removing the products from wishlist they are no longer intrested to buy in future.

[2020-05-12 13:13] Ali-Bhatti opened #100 "Validation of empty fields of Product ,on both client side and server side, is missing"
What I want to say is that system is allowing to save a product in database with empty fields like empty name , price , picture etc. Or it gives an exception of "Invalid Fields". So validation of empty fields of Product ,on both client side and server side, is missing. And I have mentioned the line at client side too.

https://github.com/bilalshahzad139/EADProject/blob/baf2a3fdf1621c13366d03398891

[2020-05-12 14:10] ShisuiUzumaki commented on #100
Don't worry I am going to fix it

[2020-05-12 14:22] Ali-Bhatti commented on #100
I have fixed it

[2020-05-12 14:22] Ali-Bhatti commented on #100
Just I have to create pull request..☺️

[2020-05-12 14:41] Ayesha-nadeem commented on #28
I have already created issue for product filtering by category.Please refer to issue#10.

[2020-05-12 15:32] #100 closed

[2020-05-12 15:36] Ali-Bhatti commented on #98
@MughalUsama correct the "Save Product" queries accordingly. Because Tables have been updated. Some columns are removed and some are added. As I mentioned below.
https://github.com/bilalshahzad139/EADProject/blob/baf2a3fdf1621c13366d033988910f7b8eca7768/Src/PMS.DAL/ProductDAO.cs#L28
If you say then I will resolve it.

[2020-05-12 15:43] Ali-Bhatti opened #102 "Documentation Of Database"
Can anybody explain the "Database Structure" in the form of proper diagram(How each table is connected with other table , what are the foreign keys etc.)? So that It becomes easy to understand database structure for everyone.

[2020-05-12 16:02] ShisuiUzumaki commented on #98
We are working on it

[2020-05-12 16:05] MughalUsama commented on #98
@Ali-Bhatti We have Resolved exceptions! Waiting for more. 🙂

[2020-05-12 16:13] Ali-Bhatti commented on #98
Means you have updated that query in this branch?

[2020-05-12 19:06] #53 closed

[2020-05-12 19:10] usama4414 commented on #52
@salayha  @muhammadbilalali1799
i've now updated this feature, UI is fine, Client Side Validation is Enabled, and form is submitting data to the controller.... @muhammadbilalali1799  use that controller to save the data in the data base.... commit in the same existing branch so that feature can be reviewed by us, then we'll make a PR.

[2020-05-12 19:21] usama4414 commented on #52
@muhammadbilalali1799  our work is done...UI is designed.... client side validations are added...and form is submitting data to a controller in User controller....Use that controller in order to save data in database...push that whole code into your feature branch and make a PR.

[2020-05-12 19:21] #52 closed

[2020-05-12 19:24] usama4414 opened #106 "Section of Website's Feedback in Admin Home Page"
There will be a section in admin's page from where admin can see all the submitted feedbacks of users.

The data will be loaded from database...and will be populated on that section.

[2020-05-12 19:30] usama4414 commented on #74
@muhammadbilalali1799  you can start your work now...or once our changes are merged in dev branch.

[2020-05-12 19:35] usama4414 commented on #23
Add a modal button in admin page "Website's Feedback".
You just have to add a button at appropriate place...the Rest of work is mine.
Happy Leaning !!!

[2020-05-13 00:04] ghost commented on #17
A filter can be added on the products page to show items according to the most bought trend. And it can also be made default filter, if desired.

[2020-05-13 06:33] Ali-Bhatti opened #107 "Correction auto focus in login fields"
It will fix the error of auto focus on login fields using Jquery as mentioned below
https://github.com/bilalshahzad139/EADProject/blob/010e18a8491e9dde5a1a382d0e24bc8730288648/Src/WebPrac/Views/User/Login.cshtml#L16

[2020-05-13 06:37] ShisuiUzumaki commented on #98
yes for the most part

[2020-05-13 06:37] #98 closed

[2020-05-13 07:27] #107 closed

[2020-05-13 14:40] muhammad-bilal-ali commented on #106
@usama4414  feedback of users is populated for all (admin+all users)

[2020-05-13 14:41] muhammad-bilal-ali commented on #106
we can add add an hyperlink on main products page which redirect us to feedback page
or all users feedback can share of last of main page (page that display products)

[2020-05-13 14:43] muhammad-bilal-ali commented on #102
you should contact with @Saniah22  she's expert in designing and documentation.

[2020-05-13 14:44] muhammad-bilal-ali commented on #99
removing from wishlist or cart ?

[2020-05-13 14:44] muhammad-bilal-ali commented on #99
@A-ASAD removing from cart issue is resolved ?

[2020-05-13 14:46] usama4414 commented on #106
This is a feedback of users regarding to out website, so technically it can only be viewed by our admin panel....feedback form is displayed as soon as a user logsout...response is stored in db....and there'll be section on admins home page where he can see all users feedback graphically.

[2020-05-13 14:48] muhammadbilalali1799 commented on #106
okay i was just asking!
why so rude ?

[2020-05-13 15:02] Ali-Bhatti commented on #102
I will make it myself

[2020-05-13 15:05] muhammad-bilal-ali commented on #102
okay but you can assign a new issue for her to review your work

[2020-05-13 15:13] Ali-Bhatti commented on #102
Ok janab

[2020-05-13 16:10] Saniah22 commented on #102
If you have not started it , then you can assign it to me, if you want to.

[2020-05-13 16:12] Ali-Bhatti commented on #102
Thanks, I have started now. I will upload it soon.

[2020-05-13 18:37] salayha opened #112 "STOCKISTS LIST"
This page will be displaying information of all the stores that are selling our stock according to various cities. So that our users may be able to find and check in at their nearby stores when need be.
Moreover, admin will be able to add a new store in that list separately.

[2020-05-13 21:58] muhammadbilalali1799 opened #114 "Testing (FeedBack Feature admin/regularUser)"
Testing of Feedback feature.
Testing will done for both type of Users (admin/regularUser).

[2020-05-14 05:10] muhammad-bilal-ali commented on #114
on-hold, till #106 not resolved.
@usama4414  let me know when #106 resolved

[2020-05-14 05:13] muhammad-bilal-ali commented on #106
#74 completed you may start now.
and let me know when completed then i start working on #114.

[2020-05-14 11:40] MuhammadZain795 commented on #23
Please add Product category Input field with a drop down menu in Admin page to specify the category of product. Just use some common words in drop down for now like Clothing, Arts etc...
Thanks!!!

[2020-05-14 11:58] MuhammadZain795 commented on #23
#28

[2020-05-14 15:55] Ali-Bhatti commented on #102
@MughalUsama , @ShisuiUzumaki , @Saniah22  please review it and tell me is there is any mistake because it very important.

[2020-05-14 15:59] #74 closed

[2020-05-14 16:02] MughalUsama commented on #102
I think, there will be more tables as suggested in other issues.

[2020-05-14 16:15] Ali-Bhatti commented on #102
That is why I wrote It is not the final structure. But according to current scenario.

[2020-05-14 16:27] Ali-Bhatti commented on #45
Have you started working on it?

[2020-05-14 16:46] Ali-Bhatti opened #119 "Missing Cancel button on feedback page"
If a regular user do not want to give feedback then how can he/she close that feedback page? As I mentioned in following line:

https://github.com/bilalshahzad139/EADProject/blob/0f258741daa4bf0a08edf305e623d53be8505ed5/Src/WebPrac/Views/User/Feedback.cshtml#L37

So I will add a cancel button.

[2020-05-14 16:57] muhammad-bilal-ali commented on #119
Cancel button will be added during Updation of feedback feature !

On Thu, 14 May 2020 at 9:47 PM, Ali-Bhatti <notifications@github.com> wrote:

[2020-05-14 17:12] Ali-Bhatti commented on #119
I have resolved it.

[2020-05-14 17:15] muhammad-bilal-ali commented on #119
Okay so you may close this issue now

[2020-05-14 17:16] Ali-Bhatti commented on #119
wait until PR got accepted

[2020-05-14 17:18] muhammad-bilal-ali commented on #119
waiting...

[2020-05-14 17:31] muhammad-bilal-ali commented on #119
sorry to disturb again, Ali Bhai on click event (#btnCancel) kindly close the session

[2020-05-14 17:32] #119 closed

[2020-05-14 17:34] muhammad-bilal-ali commented on #119
Not yet i checked 2 minutes ago.

On Thu, 14 May 2020 at 10:32 PM, Ali-Bhatti <notifications@github.com>
wrote:

[2020-05-14 17:56] Alishba-Saeed commented on #42
@Usman-Alii  You have added a table named ProductPictureNames but there is no column in the product table. Kindly tell me if there will be a pictureID/ pictureName column in the product table or not?

[2020-05-15 07:11] faaizsultan commented on #45
yes.

[2020-05-15 09:09] MuhammadZain795 commented on #10
I had created the same issue #28 but then this issue was only for search product but now its seems like both issues are doing same work...
@bilalshahzad139 @Ayesha-nadeem

[2020-05-15 09:51] Ali-Bhatti commented on #45
Good, do it as soon as possible. Because as the project is growing ,there are more chances of conflicts.

[2020-05-15 10:11] faaizsultan commented on #45
Kindly send the  temporary email you created for earlier assignment..@Ali-Bhatti

[2020-05-15 10:14] Ali-Bhatti commented on #45
Email: EAD.SEMorning@gmail.com
Password: SEMorning2017
Note: first 3 letters are capital.

[2020-05-15 10:36] faaizsultan commented on #45
Thanks.

[2020-05-15 10:41] Ali-Bhatti commented on #45
Your welcome

[2020-05-15 11:40] ShisuiUzumaki opened #125 "Password hashing and salting"
Hashing nd salting user password and then storing in db and on login using that to authenticate user

[2020-05-15 13:11] faaizsultan commented on #45
@Ali-Bhatti i think you should store email address as well while signing up...becuase only then i can make the functionality of resetting password..

[2020-05-15 13:12] faaizsultan commented on #45
So please make it ASAP so i can complete this functionality..

[2020-05-15 13:12] Ali-Bhatti commented on #45
Yes, you are write.
Just notify me when u are done making it..i am waiting.

[2020-05-15 13:13] Ali-Bhatti commented on #45
I will replace login with email..

[2020-05-15 13:14] faaizsultan commented on #45
Thanks.

[2020-05-15 13:14] faaizsultan commented on #45
Just notify me when u are done with it..

[2020-05-15 13:15] Ali-Bhatti commented on #45
Ok I will

[2020-05-15 13:18] Ali-Bhatti opened #127 "Changing Login Filed to Email Field in Signup Page and login Page"
In this I will just replace the name "Login" with "Email" .The purpose of adding this field to handle the #45 issue.(Forget Password).

[2020-05-15 18:30] MuhammadZain795 opened #129 "Forget Password Option"
This issue will test the working of issue #45 ...

[2020-05-16 11:04] Ali-Bhatti opened #131 "Need Help regarding "DBProj file""
@bilalshahzad139  Sir, I need help about this file i.e., how to add new table or procedures in this file? So that it will not create any error while re-publishing.

[2020-05-16 11:09] bilalshahzad139 commented on #131
@Ali-Bhatti Check this for 1 minute. https://youtu.be/JeP2wM-QnrQ?t=1544
You will follow same approach for table.

[2020-05-16 12:16] Ali-Bhatti commented on #131
OK Sir. But when I change the table like add a new column in table and the republish it , then it generates an error.To resolve this I have to DROP my old database then I have to newly publish it again.

[2020-05-16 13:46] Usman-Alii commented on #42
@Alishba-Saeed  No! There is no of these columns in product table. I have added ProductID in ProductPictureNames as foreign key which will help us out in the retrieval of our desired data from ProductPictureNames table.

[2020-05-16 14:10] Alishba-Saeed commented on #42
@Usman-Alii Wouldn't it be better to add a column to the product table instead of making another table just to store an item? Because for retrieving the pictureName we have to apply join or subquery which will increase the number of database operations. Kindly enlighten. @bilalshahzad139

[2020-05-16 14:19] bilalshahzad139 commented on #42
We should follow this approach. If we are going to have multiple images for a product, we should store them in separate table & should have ProductID in that new table as foreign key. Having images column in product table is not a scale-able solution.

[2020-05-16 15:11] Alishba-Saeed commented on #42
Okay, sir.

[2020-05-16 15:40] Ali-Bhatti opened #135 "Unable to Edit Profile Picture"
@Nadia-Ahsan In update Profile Module user is unable to update his/her profile picture. And old profile picture is not displaying too. Please correct it.

[2020-05-17 09:42] #127 closed

[2020-05-17 09:43] Ali-Bhatti commented on #45
It is done. What i did is , I replaced the "Login" with email at fornt end. Name of backend variable in which email stores is "Login" so use login as email.. Also first try to run the whole new develop branch. You will understand it better.

[2020-05-17 10:09] Nadia-Ahsan commented on #135
I already mentioned that  profile update is completed except profile
picture update.
It did not update it because it's was not added in your Signup page. I am
waiting that once that page will be complete then i will add 'Profile
Picture'Update feature.

On Sat, May 16, 2020 at 8:40 PM Ali-Bhatti <notifications@github.com> wrote:

[2020-05-17 10:13] Ali-Bhatti commented on #135
It is already completed. You can try signup. And for profile picture uploading click on avatar..

[2020-05-17 10:18] Nadia-Ahsan commented on #135
when i was working on that module, it was showing that 'login and signup is completed except profile picture' update. May be it completed after that. Ok I'll check that and update my module accordingly.

[2020-05-17 10:22] Nadia-Ahsan opened #138 "Edit Profile Picture"
User will be able to edit his/her profile picture.

[2020-05-17 10:23] #47 closed

[2020-05-17 10:29] #135 closed

[2020-05-17 10:32] Nadia-Ahsan commented on #135
Ok I'll check.

On Sun, May 17, 2020 at 3:30 PM Ali-Bhatti <notifications@github.com> wrote:

[2020-05-26 20:24] Saniah22 commented on #92
kindly can you tell me , can we decompose the add/ modify item process here for admin side ?
As in Level 2 of DFD #91 it's decomposed from search item to modify item and delete item

[2020-05-26 20:27] Saniah22 commented on #92
I can show you a sample ,
like in this it's decomposed  for admin side(or anything like this(your own way),, i think it sould be just decomposed) :
![SREdiagrams (5)-Page-4](https://user-images.githubusercontent.com/60928097/82947110-f287b400-9fb8-11ea-868e-fa5678cca057.png)

[2020-05-26 20:41] Saniah22 commented on #102
It's  not complete, but as far as this given one is concerned it's very much accurate .

[2020-05-26 20:50] Saniah22 opened #139 "Order Tracing"
Order tracking gives the information about the status of the purchased item to the buyer, this way the buyer can see if the order is still in the warehouse or already on the way.

[2020-05-26 21:38] Saniah22 opened #140 "Quality Assurance work whilst coding phase"
Quality Assurance doesn't only mean the testing process that is done "after" the completion of your development work,
But quality can be maximized whilst you all are in Designing/coding Phase
Here are a number of questions you can look at to assure quality

[EAD Final Project.docx](https://github.com/bilalshahzad139/EADProject/files/4685126/EAD.Final.Project.docx)

[2020-05-26 21:57] #139 closed

[2020-05-27 09:10] Ali-Bhatti commented on #92
Yes , we can. And you done it in a very good way.

[2020-05-28 10:38] ShisuiUzumaki opened #141 "Some Code adjustments"
Adjusting login for
A Ui adjustment

[2020-05-28 10:39] ShisuiUzumaki opened #142 "Some Code adjustments"
Adjusting login for
A Ui adjustment

[2020-06-07 18:25] muhammadbilalali1799 opened #145 "Feedback UI/Backend Updation"
if a normal user is submitting the feedback then why we take input (name, pNo or email) we use session management to get these information.
I'm changing UI and backend for feedback.

[2020-06-08 21:01] #145 closed

[2020-06-13 18:38] qulzamsyed opened #151 "Automated UI testing of whole project"
the whole app is automated tested by using selenium tool

[2020-06-15 12:43] wafa-abbas opened #152 "code review(issue 138)"
i am going to review the code of #138

[2020-06-15 12:46] wafa-abbas opened #153 "testing (issue 138)"
edit profile testing
i will test UI and backend

[2020-06-15 13:13] nazeer013 commented on #36
Kindly let me know when you complete this issue, so i will work on #78

[2020-06-15 13:43] nazeer013 commented on #57
Kindly let me know when you're done with this issue so i will work on #60

[2020-06-17 17:33] Ali-Bhatti opened #155 "Admin is unable to login"
Due to Password hashing and setting Email as login admin is unable to login. So I will make some changes so that admin will be able to login.

[2020-06-17 18:10] Ali-Bhatti commented on #155
Now you all have to use "admin@gmail.com" in order to login as admin

[2020-06-19 05:09] #138 closed

[2020-06-19 05:16] Nadia-Ahsan commented on #36
i'll complete soon.

On Mon, Jun 15, 2020 at 6:13 PM nazeer013 <notifications@github.com> wrote:

[2020-06-28 12:20] #112 closed

[2020-06-29 04:29] #46 closed

[2020-06-29 09:44] MughalUsama commented on #155
why have you removed password salting from admin login?
If admin updates his password it will be stored in salted format and he will not be able to login again.

[2020-06-29 11:29] Ali-Bhatti commented on #155
then simply remove password salting for admin in the "update password" module.

[2020-06-29 12:34] usmanmurad commented on #68
Completed and successfully merged.

[2020-06-29 12:34] #68 closed

[2020-06-29 14:02] hamza-hameed opened #166 "Product Insert Query"
There is some error in Product insert Query. due to this **add new product module** not working correctly and showing some exception. so I'm going to correct it.

[2020-06-30 00:56] faaizsultan commented on #45
Completed.

[2020-06-30 00:57] #45 closed

[2020-06-30 01:24] #166 closed

[2020-06-30 04:01] #36 closed

[2020-06-30 10:04] Nadia-Ahsan commented on #38
As this is already done in an issue.
 how many such products exists in stock means quantity which is already showing in front of products.that's why i'm closing this issue.

[2020-06-30 10:04] #38 closed

[2020-06-30 11:28] hamza-hameed commented on #89
Complete!!

[2020-06-30 11:28] #89 closed

[2020-06-30 11:29] hamza-hameed commented on #87
Completed!

[2020-06-30 11:29] #87 closed

[2020-06-30 11:34] hamza-hameed commented on #86
Completed! I made Add sale module on Products page under Product Management.
So, There is no need of further UI for this.

[2020-06-30 11:34] #86 closed

[2020-06-30 12:22] Nadia-Ahsan opened #173 "Generating Monthly Report of Admin Selected Month"
As  in issue#36 only report of current month is generating.
In this module,
1-Admin will select a month.
2-Report will be generated which includes:
  2.1 How many Products sold in selected month.
  2.2 Price of sold products in selected month.

[2020-06-30 12:59] #48 closed

[2020-06-30 13:01] #173 closed

[2020-07-01 07:55] #28 closed

[2020-07-01 22:53] #42 closed

[2020-07-15 23:32] hamza-hameed opened #176 "SignUp with new User not working!"
SignUp with new user not working...I'm going to check and resolve this issue.

[2020-07-21 19:10] mqasimdilshad commented on #78
the code is running successfully .

[2020-07-21 19:10] #78 closed

[2020-07-23 22:58] #176 closed

[2020-08-17 16:32] #129 closed